:root{
    --primary: yellow;
    --secondary: pink;
    --dark: grey;
    --light: white;
  }
body{
    font-family: 'Source Sans Pro', sans-serif;
    width: 100%;
    min-height: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden; 
}
.heightDiv{
  min-height: 55vh;
}
.aLinks{
text-decoration: none;
color: #0072bd;
}

nav{
    z-index: 9999;
    position: fixed;
    top: 0;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 8vh;
    background-color:#F8F8F8;
    box-shadow: 0px 3px 18px 3px rgb(0,0,0,0.2);

}

.logo{
  margin-top: .5rem;
  font-size: 20px;
  color: #0072bd;
  font-weight: bold;
}
.nav-links{
    margin-top: .5rem;
    display: flex;
    justify-content: space-around;
    width:30%;
}
.nav-links :hover{
    transform: scale(1.1,1.1);
    transition: transform .25s;
    color:#0072bd;
    font-weight:bold  ;
}
.nav-links li{
    list-style: none;
}
.nav-links a{
    color: #0072bd;
    text-decoration: none;
    letter-spacing: 3px;
    font-size: 16px;
    font-weight: 500;

}
.burger{
    display: none;
}
.burger div{
    width: 25px;
    height: 3px;
    margin: 5px;
    background-color: #0072bd;
    transition: all 0.4s ease-in;
}

@media screen and (max-width:1100px){
    .nav-links{
        width: 45%;
    }
    
}
@media screen and (max-width:768px){
    body{
        overflow-x: hidden;
    }
  
    .animImg{
        margin-top: 25px;
    }
    .nav-links{
        width:10%;
        position: absolute;
        right: 0px;
        height: 50vh;
        margin-top: 0rem;
        top:8vh;
        background-color: #F8F8F8;
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;  
        transform: translateX(100%);  
        transition: transform 0.5s ease-in;
        opacity: 0;
    }
    .nav-links li{
        opacity: 0;

    }
        .burger{
            display: block;
            cursor:pointer;
        }
}

.nav-active{
    transform: translateX(0%);
    opacity: 1;

  
}
@keyframes navLinkFade {
    from{
        opacity: 0;
        transform: translateX(50px);
    }

    to{
        opacity: 1;
        transform: translateX(0px);
    }
    
}
.toggle .line1{
transform: rotate(-45deg) translate(-5px,6px);
}
.toggle .line2{
    opacity: 0;
}
.toggle .line3{
    transform: rotate(45deg) translate(-5px,-6px);
    
    
}
#firstSection{
  margin-top: 48px;
}
.imgClass{
    width: 100%;
    height: 475px;
    background-size: 100% 100%;
    object-fit: cover;
   }

   .buttonClass{
    color: white;
    background-color: #0072bd;
    border-color: #0072bd;
  
  }
  .buttonClass:hover{
    
    color: #fff;
    transform: scale(1.1,1.1);
    transition: transform .5s;
  }
  .homeImg{
    width: 100%;
    height: 400px;
    object-fit: cover;
  }
  .ftlogo{
    padding:0px 20px 10px
}
.hoverAnim:hover { 
    transform: scale(1.1,1.1);
    transition: transform .25s;
    }
.paragraph{
        color: #aaa;
          font-size: 18px;  
}
@media screen and (max-width:991.5px){
    .cardS{
        margin: 30px auto 0;
        width: 600px !important;
        height: 400px;
        perspective: 1000px;
        border: none;
      
    }
    .card__face{
      position: absolute;
      width: 600px !important;
      height: 400px;
      -webkit-backface-visibility: hidden;
      backface-visibility: hidden;
      overflow: hidden;
      border-radius: 16;
      box-shadow: 0px 3px 18px 3px rgb(0,0,0,0.2);
    }
}
@media screen and (max-width:768px){
  .cardS{
      margin: 30px auto 0;
      width: 450px !important;
      height: 400px;
      perspective: 1000px;
      border: none;
    
  }
  .card__face{
    position: absolute;
    width: 450px !important;
    height: 400px;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    overflow: hidden;
    border-radius: 16;
    box-shadow: 0px 3px 18px 3px rgb(0,0,0,0.2);
  }
}
@media screen and (max-width:576px){
  .cardS{
      margin: 30px auto 0;
      width: 350px !important;
      height: 400px;
      perspective: 1000px;
      border: none;
    
  }
  .card__face{
    position: absolute;
    width: 350px !important;
    height: 400px;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    overflow: hidden;
    border-radius: 16;
    box-shadow: 0px 3px 18px 3px rgb(0,0,0,0.2);
  }
}
.cardS{
    margin: 30px auto 0;
    width: 315px;
    height: 400px;
    perspective: 1000px;
    border: none;
  
}
.card__face{
  position: absolute;
  width: 315px;
  height: 400px;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  overflow: hidden;
  border-radius: 16;
  box-shadow: 0px 3px 18px 3px rgb(0,0,0,0.2);
}
  
  .card__inner{
    width: 100%;
    height: 100%;
    transition: transform 1s;
    transform-style: preserve-3d;
    cursor: pointer;
    position: relative;
}
  .card__inner.is-flipped{
    transform:rotateY(180deg);
  
}
 
  .card__body{
    padding: 30px;
    
  }
  
  .card__faceBack{
    background-color: var(--light);
    transform: rotateY(180deg);
  }
  .card__content{
    width: 100%;
    height: 100%;
  
  }
  
  .card__header{
    position: relative;
    padding: 10px;
  }
  .card__header:after{
    content:'';
    display: block;
    position: absolute;
    top:0;
    left:0;
    right:0;
    bottom: 0;
    z-index: -1;
    border-radius: 0 0 50% 0;
    background-image: linear-gradient(to bottom left, var(--primary) 10%, var(--secondary) 115%);
    }
    .pp{
        display: block;
        width: 128px;
        height:128px;
        margin: 0 auto 30px;
        border-radius: 50%;
        background-color: #fff;
        border: 5px solid  #fff;
        object-fit: cover;
    }
    
    .staffImg{
        display: block;
        border-radius: 50%;
        width: 15rem;
        height: 15rem;
        margin: 0 auto 30px;
        object-fit: cover;
        padding-top: 10px;
      }

      .cardContainer{
        position: relative;
        text-align: center;
        color: white;
        font-size: 20px;
      }
      .top-left {
        position: absolute;
        top: 10%;
        left: 50%;
        transform: translate(-50%, -50%);

      }

      .cssFooter{
   
        background-color:black; 
        background-blend-mode: darken;
      
        position: relative;
        bottom: 0;
        left: 0;
        right: 0;
        margin-top: 20px;
        width: 100%;
        color: white;
        text-align: center;
        
      }
      .inline{
        display:inline-block!important;
        padding: 10px;
      }
      .copyright{
        color: #aaa;
        font-size: 13px;
    }

  .animated{
    width: 400px;
    height:221px;
    background-position: center;
    background-size: cover;
  }

  .leftFades{
  opacity: 0;
  }
  
  .fadeInLeft{
    -webkit-animation: fadeInLeft 1.2s both;
    -moz-animation: fadeInLeft 1.2s both;
    -o-animation: fadeInLeft 1.2s both;
    animation: fadeInLeft 1.2s both;

  }
  @-webkit-keyframes fadeInLeft{
    0%{
      opacity: 0;
      -webkit-transform: translateX(-100px);
    }
    100%{
      opacity: 1;
      -webkit-transform: translateX(0);
    }
  }
  @-moz-keyframes fadeInLeft{
    0%{
      opacity: 0;
      -moz-transform: translateX(-100px);
    }
    100%{
      opacity: 1;
      -moz-transform: translateX(0);
    }
  }
  @-o-keyframes fadeInLeft{
    0%{
      opacity: 0;
      -o-transform: translateX(-100px);
    }
    100%{
      opacity: 1;
      -o-transform: translateX(0);
    }
  }
  @keyframes fadeInLeft{
    0%{
      opacity: 0;
      transform: translateX(-100px);
    }
    100%{
      opacity: 1;
      transform: translateX(0);
    }
  }
  .rightFades{
    opacity: 0;
  }
  .fadeInRight{
    -webkit-animation: fadeInRight 1.2s both;
    -moz-animation: fadeInRight 1.2s both;
    -o-animation: fadeInRight 1.2s both;
    animation: fadeInRight 1.2s both;

  }
  @-webkit-keyframes fadeInRight{
    0%{
      opacity: 0;
      -webkit-transform: translateX(100px);
    }
    100%{
      opacity: 1;
      -webkit-transform: translateX(0);
    }
  }
  @-moz-keyframes fadeInRight{
    0%{
      opacity: 0;
      -moz-transform: translateX(100px);
    }
    100%{
      opacity: 1;
      -moz-transform: translateX(0);
    }
  }
  @-o-keyframes fadeInRight{
    0%{
      opacity: 0;
      -o-transform: translateX(100px);
    }
    100%{
      opacity: 1;
      -o-transform: translateX(0);
    }
  }
  @keyframes fadeInRight{
    0%{
      opacity: 0;
      transform: translateX(100px);
    }
    100%{
      opacity: 1;
      transform: translateX(0);
    }
  }
  .fadeInTop{
    -webkit-animation: fadeInTop 1.2s both;
    -moz-animation: fadeInTop 1.2s both;
    -o-animation: fadeInTop 1.2s both;
    animation: fadeInTop 1.2s both;
    background-image:url('img/ecuador.jpg')

  }
  @keyframes fadeInTop{
    0%{
      opacity: 0;
      transform: translateY(-100px);
    }
    100%{
      opacity: 1;
      transform: translateY(0);
    }
  }

.shadow{
  box-shadow: 0px 3px 18px 3px rgb(0,0,0,0.2);

}   
.element {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}
.contactForm{
    
  width:80%;
  padding-top:40px;
  padding-left: 40px;
  padding-right: 40px;
  padding-bottom: 0px;
  background: #fff;
  
}
.contactForm h2{
  font-size: 30px;
  color: #333;
  font-weight: 500;
  
}

.contactForm .inputBox{
  position: relative;
  width: 100%;
  margin-top: 10px;
}

.contactForm .inputBox input,
.contactForm .inputBox textarea
{
width:100%;
padding:5px 0;
font-size:16px;
margin:10px 0;
border: none;
border-bottom: 2px solid #333;
outline: none;
resize: none;
}
.contactForm .inputBox span{
    position: absolute;
    left: 0;
    padding:5px 0;
font-size:16px;
margin:10px 0;
pointer-events: none;
transition: 0.5s;
color: #666666;
}
.contactForm .inputBox input:focus ~ span,
.contactForm .inputBox input:valid ~ span,
.contactForm .inputBox textarea:focus ~ span,
.contactForm .inputBox textarea:valid ~ span


{
color: #e91e63;
font-size: 12px;
transform: translateY(-20px);

}
.contactForm .inputBox input[type="submit"]
{
    width: 100px;
    background: #0072bd;
    color: #fff;
    border: none;
    cursor: pointer;
    padding: 10px;
    font-size: 18px;

}

@media screen and (max-width: 991.75px) {
   
  .contactForm
  {
  width: 100%;

  }
  .contactForm2
  {
  width: 100%;

  }
}
@media screen and (max-width: 769px) {
   
        .contactForm
        {
        width: 100%;
       
        }
        .contactForm2
  {
  width: 100%;

  }
   }