:root{
    --primary: yellow;
    --secondary: pink;
    --dark: grey;
    --light: white;
  }
body{
    font-family: 'Source Sans Pro', sans-serif;
    
}
nav{
    z-index: 9999;
    position: fixed;
    top: 0;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 8vh;
    background-color: black;
}

.logo{
    color: whitesmoke;
    text-transform: uppercase;
    letter-spacing: 5px;
    font-size: 20px;
}
.nav-links{
    margin-top: .5rem;
    display: flex;
    justify-content: space-around;
    width:30%;
}
.nav-links :hover{
    transform: scale(1.1,1.1);
    transition: transform .25s;
    color:wheat;
}
.nav-links li{
    list-style: none;
}
.nav-links a{
    color: whitesmoke;
    text-decoration: none;
    letter-spacing: 3px;
    font-size: 14px;
}
.burger{
    display: none;
}
.burger div{
    width: 25px;
    height: 3px;
    margin: 5px;
    background-color: whitesmoke;
    transition: all 0.4s ease-in;
}

@media screen and (max-width:1100px){
    .nav-links{
        width: 45%;
    }
    
}
@media screen and (max-width:768px){
    body{
        overflow-x: hidden;
    }
  
    .animImg{
        margin-top: 25px;
    }
    .nav-links{
        width:10%;
        position: absolute;
        right: 0px;
        height: 50vh;
        margin-top: 0rem;
        top:8vh;
        background-color: black;
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;  
        transform: translateX(100%);  
        transition: transform 0.5s ease-in;   
    }
    .nav-links li{
        opacity: 0;

    }
        .burger{
            display: block;
            cursor:pointer;
        }
}

.nav-active{
    transform: translateX(0%);
  
}
@keyframes navLinkFade {
    from{
        opacity: 0;
        transform: translateX(50px);
    }

    to{
        opacity: 1;
        transform: translateX(0px);
    }
    
}
.toggle .line1{
transform: rotate(-45deg) translate(-5px,6px);
}
.toggle .line2{
    opacity: 0;
}
.toggle .line3{
    transform: rotate(45deg) translate(-5px,-6px);
    
    
}
#firstSection{
  margin-top: 48px;
}
.imgClass{
    width: 100%;
    height: 475px;
    background-size: 100% 100%;
    object-fit: cover;
   }

   .buttonClass{
    color: white;
    background-color: #fed136;
    border-color: #fed136;
  
  }
  .buttonClass:hover{
    
    color: #fff;
    transform: scale(1.1,1.1);
    transition: transform .5s;
  }
  .homeImg{
    width: 100%;
    height: 400px;
    object-fit: cover;
  }
  .ftlogo{
    padding:0px 20px 10px
}
.hoverAnim:hover { 
    transform: scale(1.1,1.1);
    transition: transform .25s;
    }
.paragraph{
        color: #aaa;
          font-size: 18px;  
}
@media screen and (max-width:991.5px){
    .card{
        margin: 100px auto 0;
        width: 600px !important;
        height: 450px;
        perspective: 1000px;
        border: none;
      
    }
    .card__face{
      position: absolute;
      width: 600px !important;
      height: 450px;
      -webkit-backface-visibility: hidden;
      backface-visibility: hidden;
      overflow: hidden;
      border-radius: 16;
      box-shadow: 0px 3px 18px 3px rgb(0,0,0,0.2);
    }
}
@media screen and (max-width:768px){
  .card{
      margin: 100px auto 0;
      width: 450px !important;
      height: 450px;
      perspective: 1000px;
      border: none;
    
  }
  .card__face{
    position: absolute;
    width: 450px !important;
    height: 450px;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    overflow: hidden;
    border-radius: 16;
    box-shadow: 0px 3px 18px 3px rgb(0,0,0,0.2);
  }
}
@media screen and (max-width:576px){
  .card{
      margin: 100px auto 0;
      width: 350px !important;
      height: 450px;
      perspective: 1000px;
      border: none;
    
  }
  .card__face{
    position: absolute;
    width: 350px !important;
    height: 450px;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    overflow: hidden;
    border-radius: 16;
    box-shadow: 0px 3px 18px 3px rgb(0,0,0,0.2);
  }
}
.card{
    margin: 100px auto 0;
    width: 315px;
    height: 450px;
    perspective: 1000px;
    border: none;
  
}
.card__face{
  position: absolute;
  width: 315px;
  height: 450px;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  overflow: hidden;
  border-radius: 16;
  box-shadow: 0px 3px 18px 3px rgb(0,0,0,0.2);
}
  
  .card__inner{
    width: 100%;
    height: 100%;
    transition: transform 1s;
    transform-style: preserve-3d;
    cursor: pointer;
    position: relative;
}
  .card__inner.is-flipped{
    transform:rotateY(180deg);
  
}
 
  .card__body{
    padding: 30px;
    
  }
  
  .card__faceBack{
    background-color: var(--light);
    transform: rotateY(180deg);
  }
  .card__content{
    width: 100%;
    height: 100%;
  
  }
  
  .card__header{
    position: relative;
    padding: 10px;
  }
  .card__header:after{
    content:'';
    display: block;
    position: absolute;
    top:0;
    left:0;
    right:0;
    bottom: 0;
    z-index: -1;
    border-radius: 0 0 50% 0;
    background-image: linear-gradient(to bottom left, var(--primary) 10%, var(--secondary) 115%);
    }
    .pp{
        display: block;
        width: 128px;
        height:128px;
        margin: 0 auto 30px;
        border-radius: 50%;
        background-color: #fff;
        border: 5px solid  #fff;
        object-fit: cover;
    }
    
    .staffImg{
        display: block;
        border-radius: 50%;
        width: 15rem;
        height: 15rem;
        margin: 0 auto 30px;
        object-fit: cover;
        padding-top: 10px;
      }

      .cardContainer{
        position: relative;
        text-align: center;
        color: white;
        font-size: 20px;
      }
      .top-left {
        position: absolute;
        top: 10%;
        left: 50%;
        transform: translate(-50%, -50%);

      }

      .cssFooter{
   
        background-image: url('img/footer.jpg');
        background-color: #0005; 
        background-blend-mode: darken;
        box-shadow: inset 0px 0px 400px 200px rgb(0, 0, 0);
      
        position: relative;
        bottom: 0;
        left: 0;
        right: 0;
        margin-top: 20px;
        width: 100%;
        color: white;
        text-align: center;
        
      }
      .inline{
        display:inline-block!important;
        padding: 10px;
      }
      .copyright{
        color: #aaa;
        font-size: 13px;
    }